body, html {
	/*background: #EDECE4;*/
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	height: 100%;
	margin-left: 14%;
}

hr {
	border: 0;
    height: 0;
    width: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.sidebar-outer {
	padding: 15px 0;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #1C2021;
	width: 6%;
	height: 100%;
	text-align: center;
}

.sidebar-outer ul {
	list-style: none;
	padding: 0;
}

.sidebar-outer ul li {
	padding: 25px 0;
}

.sidebar-outer ul li a {
	color: #3A3A3E;
	text-decoration: none;
    -webkit-transition: color .5s;
       -moz-transition: color .5s;   
            transition: color .5s;  	
}

.sidebar-outer ul li a:hover {
    -webkit-transition: color .5s;
       -moz-transition: color .5s;   
            transition: color .5s;  	
	color: #EFEFEF;
}

.sidebar-inner {
	position: fixed;
	top: 0;
	left: 6%;
	background-color: #EFEFEF;
	width: 20%;
	height: 100%;
	border-right: 6px solid #E0E0E0;
}

.sidebar-inner .descriptions {
	padding: 30px 20px;
}

.title {
	font-weight: lighter;
	font-size: 25px;
}

.sidebar-inner ul {
	list-style: none;
	padding: 0;
}

.sidebar-inner ul li {
	font-weight: lighter;
	font-size: 13px;
	padding: 10px 20px;
    -webkit-transition: background-color.5s linear;
       -moz-transition: background-color .5s linear;   
            transition: background-color .5s linear;  
}


.sidebar-inner ul li:hover {
	background-color: white;
    -webkit-transition: background-color .5s linear;
       -moz-transition: background-color .5s linear;   
            transition: background-color .5s linear;  
}

.sidebar-inner ul a {
	text-decoration: none;
	color: #9898A0;
}

.sidebar-inner ul a:hover {
	color: #1C2021;
}

.admin-contents {
	padding: 30px 60px;
}

.admin-contents .image-preview {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.admin-contents .product-details {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.admin-contents .product-list {
	width: 30%;
	margin: 10px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #E0E0E0;
}

.admin-contents .product-list .preview-img {
	height: 180px;
	overflow: hidden;
}

.admin-contents .product-list .product-meta {
	margin: 0;
	text-align: center;
	padding: 5px 10px;
}

.admin-contents .product-list .product-meta a {
	text-decoration: none;
	padding: 5px 15px;
	margin: 5px;
	border: 1px solid #E0E0E0;
	letter-spacing: 1px;
	background: white;
	color: #1C2021;
	margin: 5px;
	width: 140px;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 12px;
	-webkit-transition:  .2s linear;
	   -moz-transition:  .2s linear;
	        transition:  .2s linear;
}

.admin-contents .product-list .product-meta a:hover {
	border: 1px solid #1C2021;
	background: black;
	color: white;
	-webkit-transition:  .2s linear;
	   -moz-transition:  .2s linear;
	        transition:  .2s linear;
}

input[type="text"],
input[type="file"],
textarea  {
	border: 1px solid #E0E0E0;
    color: #1C2021;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 14px;
    background: white;
    padding: 10px;
    outline: none;
    width: 350px;
    margin: 5px;
    resize: none;
    border-radius: 2px;
    -webkit-transition: border.5s linear;
       -moz-transition: border .5s linear;   
            transition: border .5s linear;   
}

input[type="text"]:focus,
textarea:focus {
	border: 1px solid #1C2021;
}

input[type="submit"] {
	padding: 10px;
	border: 1px solid #E0E0E0;
	letter-spacing: 2px;
	background: white;
	color: #1C2021;
	margin: 5px;
	width: 140px;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 13px;
	-webkit-transition:  .2s linear;
	   -moz-transition:  .2s linear;
	        transition:  .2s linear;
}

input[type="submit"]:hover {
	border: 1px solid #1C2021;
	background: black;
	color: white;
	-webkit-transition:  .2s linear;
	   -moz-transition:  .2s linear;
	        transition:  .2s linear;
}

/* UTIL classes */
.active {
	color: #EFEFEF;
}

.active-inner {
	background-color: white;

	color: #1C2021;
}

.error {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 14px;
	font-style: italic;
	padding-left: 5px;
	color: red;
}