body, html {
	/*background: #EDECE4;*/
	height: 100%;
	font-family: Georgia;
	font-size: 14px;
	height: 100%;
}

hr {
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.wrapper {
	width: 80%;
	margin: 0 auto;
	background: white;
	margin-bottom: --50px; 
}

.inner-wrapper {
	padding: 35px 40px;
}

.navbar-cart {
	position: absolute; 
	left: 80%;
	top: 0%;
    height: 30px;
    padding: 10px;
    width: 160px;
    margin-left: -85px;
}

.navbar-cart a {
	text-decoration: none;
	color: #444444;
}

.navbar-head {
	padding-top: 1%;
}

.navbar-head .logo {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 25px;
	letter-spacing: 2px;
}

 .navbar-head ul {
	text-align: left;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	list-style: none;
	cursor: pointer;
}

.navbar-head ul li {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 15px;
}

.navbar-head ul li a {
	text-decoration: none;
	color: #444444;
}

.navbar-head ul li a:hover li {
	background: #0F090A; 
	color: white;
}

.navbar-head ul li ul {
	padding: 0;
	position: absolute;
	top: 48px;
	right: 4px;
	width: 150px;
	display: none;
	opacity: 0;
	visibility: hidden;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.navbar-head ul li ul li { 
	text-align: center;
	border: 1px solid #ECF0F1;
	display: block; 
	color: #1D1D29;
	background: white;
}

.navbar-head ul li ul a:not(:first-child) li {
   	border-top: none;
}

.navbar-head ul li ul li:hover { 
	background: #0F090A; 
	border: 1px solid #0F090A;
}

.navbar-head ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.preview {
	height: 500px;
	background: url(../images/preview.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

.tagline {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 2px;
	color: #1C2021;
	text-align: center;
}

.tagline a {
	padding: 15px;
	border: 1px solid #EDECE4;
	letter-spacing: 2px;
	color: #1C2021;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 13px;
	-webkit-transition:  .2s linear;
	   -moz-transition:  .2s linear;
	        transition:  .2s linear;
}

.tagline a:hover {
	border: 1px solid black;
	background: black;
	color: white;
	-webkit-transition:  .2s linear;
	   -moz-transition:  .2s linear;
	        transition:  .2s linear;
}

.card-background {
	background: #EDECE4;
}

.card {
	width: 30%;
	margin: 1%;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background: white;
	letter-spacing: 1px;
	text-decoration: none;
	color: white;
	display: inline-block;
	vertical-align: top;
	background: url(../images/shop.jpg) 50% 50% no-repeat; 
	height: 300px;
	-webkit-transition:  .2s linear;
	   -moz-transition:  .2s linear;
	        transition:  .2s linear;
}

.card:hover {
	opacity: 0.6;
	-webkit-transition:  .2s linear;
	   -moz-transition:  .2s linear;
	        transition:  .2s linear;
}

.card h1 {
	padding-top: 100px;
	font-size: 40px;
}

.card:nth-child(2) {
	background: url(../images/about.jpg) 54% 40% no-repeat; 
}

.card:nth-child(3) {
	background: url(../images/register.jpg) 80% 20% no-repeat;
}

.foot-wrapper {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	letter-spacing: 1px;
	font-size: 14px;
	text-transform: uppercase;
	color: white;
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 13px;
}

footer {
	height: 50px;
}

/* Login */
.login-box {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -80px;
	margin-left: -330px;
	width: 600px;
	height: 100px;
	background: #1C2021;
	padding: 30px;
}

input[type="text"].login,
input[type="password"].login {
    border: 1px solid #1C2021;
    color: #dddddd;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
    background: #444444;
    padding: 10px;
    outline: none;
    width: 200px;
    margin: 5px;
    border-radius: 2px;
    -webkit-transition: background-color .5s linear;
       -moz-transition: background-color .5s linear;   
            transition: background-color .5s linear;   
}

input[type="text"].login:focus,
input[type="password"].login:focus {
	background: #666B6B;
} 

input[type="submit"].login {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 12px;
	width: 80px;
	margin: 5px;
	text-transform: uppercase;
	background-color: #3C8AB8;
	border: 1px solid #3C8AB8;
	color: #dddddd;
	padding: 10px 12px 9px 12px;
	border-radius: 2px;
	-webkit-transition: background-color .5s;
	   -moz-transition: background-color .5s;
	        transition: background-color .5s;
}

input[type="submit"].login:hover {
	border: 1px solid #005F97;
	color: #dddddd;
	background: #005F97;
	-webkit-transition: background-color .5s;
	   -moz-transition: background-color .5s;
	        transition: background-color .5s;
}

input[type="submit"].login:active {
	outline: 0;
}

/* Register */
.register-wrap {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	color: #dddddd;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -450px;
	width: 800px;
	height: 400px;
	background: #1C2021;
	padding: 50px;
}

.register-personal {
	display: inline-block;
	vertical-align: top;
	padding: 5%;
	width: 35%;
}

.register-login {
	display: inline-block;
	vertical-align: top;
	padding: 5%;
	border-left: 1px solid #444444;
	padding-left: 100px;
}

/* Checkout */
.checkout-billing {
	font-family: 'Open Sans', sans-serif;
	width: 48%;
	background: white;
	padding: 20px;
	margin-right: 2%;
	display: inline-block;
	vertical-align: top;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;   
}

.checkout-summary {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	width: 48%;
	background: white;
	min-height: 200px;
	padding: 20px;
	display: inline-block;
	vertical-align: top;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;  
}

.checkout-shipping {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	width: 48%;
	background: white;
	min-height: 200px;
	padding: 20px;
	margin-top: 10px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box; 
}

input[type="text"].checkout,
input[type="email"].checkout,
select {
	border: 1px solid #E0E0E0;
    color: #1C2021;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 14px;
    background: white;
    padding: 8px;
    outline: none;
    width: 350px;
    margin: 5px;
    resize: none;
    border-radius: 2px;
    -webkit-transition: border.5s linear;
       -moz-transition: border .5s linear;   
            transition: border .5s linear;  
}

input[type="text"].checkout:nth-child(1),
input[type="text"].checkout:nth-child(2) {
	width: 160px;
	display: inline-block;
	vertical-align: top;
}

input[type="text"].checkout:focus,
input[type="email"].checkout:focus {
	border: 1px solid #1C2021;
}

input[type="submit"].checkout {
	padding: 10px;
	border: 1px solid #E0E0E0;
	letter-spacing: 1px;
	background: white;
	color: #1C2021;
	margin: 5px;
	width: 140px;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 12px;
	-webkit-transition:  .2s linear;
	   -moz-transition:  .2s linear;
	        transition:  .2s linear;
}

input[type="submit"].checkout:hover {
	border: 1px solid #1C2021;
	background: black;
	color: white;
	-webkit-transition:  .2s linear;
	   -moz-transition:  .2s linear;
	        transition:  .2s linear;
}
/* UTIL classes */
.dark {
	background: #1C2021;
}

.light {
	background: #EDECE4;
}

.error {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 14px;
	font-style: italic;
	padding-left: 5px;
	color: red;
}

.max {
	height: 100%;
}

.back {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 12px;
	color: white;
	letter-spacing: 2px;
	top: 10px;
	left: 10px;
	position: absolute;
	text-decoration: none;
	-webkit-transition: color .5s;
	   -moz-transition: color .5s;
	        transition: color .5s;
}

.back:hover {
	color: #666B6B;
	-webkit-transition: color .5s;
	   -moz-transition: color .5s;
	        transition: color .5s;
}

.inverse {
	color: #666B6B;
}

.inverse:hover {
	color: white;
}

.title {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 25px;
}
